{% extends 'base.html' %}
{% load tailwind_filters %}

{% block title %}Log-In{% endblock title %}
{% block content %}
    <h1 class="text-5xl text-sky-600 underline py-2 font-extrabold">Log-In </h1>
    {% if form.errors %}
        <p>Your username and password didn't match. Try again</p>
    {% else %}
        <p>Please, use the following form to Log-In:</p>
    {% endif %}
    <div class="mx-auto my-auto px-2 py-2">
        <form method="post" class="form-control" action="{% url 'login' %}">
            {% csrf_token %}
            {{form|crispy}}
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="submit" 
                class="inline-block text-white rounded-full bg-cyan-400 hover:bg-cyan-600 py-3 px-2 my-2">
                Log In
            </button>
        </form>
    </div>
{% endblock content %}