{% load tailwind_tags %}


<!DOCTYPE html>
<html lang="en" class="bg-slate">
  {% tailwind_css %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Social App</title>
</head>
<body>
  <header>
    <nav
      class="relative flex w-full items-center justify-between bg-white py-2 text-neutral-600 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 dark:text-neutral-200 md:flex-wrap md:justify-start"
      data-te-navbar-ref>
      <div class="flex w-full flex-wrap items-center justify-between px-6">
        <div class="flex items-center">
          <button
            class="mr-2 border-0 bg-transparent py-2 text-xl leading-none transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white lg:hidden"
            type="button"
            data-te-collapse-init
            data-te-target="#navbarSupportedContentY"
            aria-controls="navbarSupportedContentY"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="[&>svg]:w-5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-6 w-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </span>
          </button>
        </div>
        <div
          class="!visible hidden grow basis-[100%] items-center lg:!flex lg:basis-auto"
          id="navbarSupportedContentY"
          data-te-collapse-item>
          <ul
            class="mr-auto flex flex-col lg:flex-row"
            data-te-navbar-nav-ref>
            <li data-te-nav-item-ref>
              <a
                class="block text-2xl transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
                href="#!"
                data-te-nav-link-ref
                data-te-ripple-init
                data-te-ripple-color="light"
                >My Social App</a
              >
            </li>
            {% if request.user.is_authenticated %}
            <li data-te-nav-item-ref {% if section == "dashboard" %}class="selected"{% endif %} >
              <a
                class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
                href="{% url 'dashboard' %}"
                data-te-nav-link-ref
                data-te-ripple-init
                data-te-ripple-color="light"
                >My dashboard</a
              >
            </li>
          </ul>
          {% endif %}
        </div>
        <span class="user">
          {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name|default:request.user.username }},
            <a href={% url 'logout' %}>Logout</a>
          {% else %}
            <a href={% url 'login' %}>Log-in</a>
          {% endif %}
        </span>
      </div>
    </nav>
  </header>
  <div class="relative w-full h-screen bg-blend-multiply">     
      <div
          id="content"
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center items-center backdrop-blur-lg">
          {% block content %}
          {% endblock content %}
      </div>
  </div>
  <footer
  class="bg-neutral-200 text-center dark:bg-neutral-700 lg:text-left">
  <div class="p-4 text-center text-neutral-700 dark:text-neutral-200">
    © 2023 Copyright:
    <a
      class="text-neutral-800 dark:text-neutral-400"
      href="My Social App.com/contact"
      >My Social App</a
    >
  </div>
</footer>
</body>

</html>
